<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>com.apicompany.e.commerceapplication.view.servlet.AdminCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>shop-login.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>Login Filter</filter-name>
        <filter-class>com.apicompany.e.commerceapplication.view.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Login Filter</filter-name>
        <url-pattern>/shop-checkout.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Admin Filter</filter-name>
        <filter-class>com.apicompany.e.commerceapplication.view.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Admin Filter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>category Filter</filter-name>
        <filter-class>com.apicompany.e.commerceapplication.view.filter.LoadCategoriesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>category Filter</filter-name>
        <url-pattern>/shop-login.jsp</url-pattern>
    </filter-mapping>
</web-app>
